/* frontend/components/labels/FabricDesigner.module.css */

/* .app {
  position: relative;
} */

.button {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.zoomControl {
  margin: 20px 0;
}

.canvasContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: #e0e0e0;
  border-radius: 5px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid #dadada;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Ajout d'un style spécifique pour le curseur */
.canvasContainer:hover {
  cursor: grab;
}

.canvasContainer:active {
  cursor: grabbing;
}

.sampleCanvas {
  border: 1px solid black;
  /* Retirez les dimensions fixes */
}

/* Si tu veux appliquer des styles globaux, utilise des classes dans le style global */
