{
  "extends": [
    "react-app",
    "plugin:tailwindcss/recommended"
  ],
  "plugins": [
    "tailwindcss",
    "prettier"
  ],
  "rules": {
    "tailwindcss/classnames-order": "off",
    "tailwindcss/no-custom-classname": "off",  // Avertissement
    "react/jsx-indent": ["warn", 2],
    "no-console": "off"
  }
}
