{
  "extends": [
    "next/core-web-vitals",  // Les règles recommandées pour Next.js
    "plugin:prettier/recommended"  // Intégration avec Prettier
  ],
  "rules": {
    // ajouter d'autres règles ici si nécessaire
  }
}