# Ignorer les environnements virtuels Python
backend/.venv/
backend/venv/
*.env

# Ignorer les fichiers compilés Python
*.pyc
*.pyo
*.pyd
backend/__pycache__/
backend/**/__pycache__/

# Ignorer les fichiers générés par PyInstaller ou les builds
backend/build/
backend/dist/
backend/react_build/
backend/*.spec

# Ignorer les logs et fichiers temporaires de Python
backend/*.log
backend/*.sqlite3
backend/*.egg-info/
backend/*.eggs/

# Ignorer les dossiers et fichiers de Node.js (React)
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/out/
frontend/public/
frontend/assets/

frontend/.env
frontend/.DS_Store

# Ignorer les logs et fichiers temporaires de Node.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorer les configurations des éditeurs et IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Ignorer les fichiers système
Thumbs.db
.DS_Store

# Ignorer les fichiers de configuration et logs de Next.js
.next/
.next/cache/
.next/static/
